@media (max-width: 900px) {
    body, html {
        overflow-x: hidden;
    }
    section.MenuFloatMobile {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: black;
        width: 0;
        height: 100%;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        z-index: 1;
        padding-top: 100px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 2;
        overflow: hidden;
    }
    section.MenuFloatMobile.MenuFloatMobileActivate {
        animation: OpenMenuMobile 1s ease-in-out;
        width: 80%;
    }
    @keyframes OpenMenuMobile {
        0% {
            width: -90%;
        }
        50% {
            width: 90%;
        }
        75% {
            width: 70%;
        }
        100% {
            width: 80%;
        }
    }
    section.MenuFloatMobile button#BtnOpenServicosMobile {
        padding: 10px;
        width: 130px;
        font-size: 17px;
        font-weight: bold;
        border: none;
        background: white;
        border-radius: 20px;
        box-shadow: 0 5px 10px white;
        margin-left: 30px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    section.MenuFloatMobile nav {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    section.MenuFloatMobile nav .IndicatorSessionMobile {
        position: absolute;
        left: 40px;
        top: 45px;
        width: 30%;
        height: 2px;
        background: white;
        border-radius: 10px;
        transition: .4s ease-in-out;
    }
    section.MenuFloatMobile nav button {
        background: none;
        border: none;
        color: white;
        display: flex;
        align-items: flex-start;
        padding: 10px 40px;
        gap: 20px;
        font-size: 20px;
    }

    header {
        padding: 30px 20px;
    }
    header nav, header button#BtnServicos,
    section.Banner .Informacoes button#BtnAcessarProjetoBanner,
    section.Banner .Informacoes p {
        display: none;
    }
    header button#BtnMenu {
        display: block;
        background: none;
        border: none;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
    }
    header button#BtnMenu.Activate {
        transform: rotate(45deg);
    }
    header button#BtnMenu span {
        width: 50px;
        height: 5px;
        background: white;
        border-radius: 10px;
    }
    header button#BtnMenu span:nth-child(2) {
        width: 25px;
    }
    header button#BtnMenu span.ActivateSpanUmMenuMobile {
        margin-top: 10px;
    }
    header button#BtnMenu span.ActivateSpanDoisMenuMobile {
        margin-top: -10px;
        width: 50px;
        transform: rotate(90deg);
    }
    section.Banner {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        overflow: hidden;
    }
    section.Banner .Informacoes h4 {
        text-align: left;
        width: 85vw;
        font-size: 20px;
    }
    section.Banner .FigurasBanner {
        order: 1;
        width: 100%;
    }
    section.Banner section.ControlsBannerMobile {
        order: 2;
        width: 100%;
        display: grid;
        place-items: center;
        margin: 20px 0;
    }
    section.Banner section.ControlsBannerMobile nav {
        width: 45%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: black;
        border-radius: 20px;
    }
    section.Banner section.ControlsBannerMobile nav button {
        width: calc(100% / 2);
        height: 100%;
        background: none;
        border: none;
        color: white;
        font-size: 15px;
        font-weight: bold;
        padding: 10px;
        border-radius: inherit;
    }
    section.Banner section.ControlsBannerMobile nav button:nth-child(1) {
        border-right: 2px solid white;
    }
    section.Habilidades {
        overflow-x: auto;
        padding: 10px;
    }
    section#SessaoHabilidades.OpenSection {
        transform: translateY(0px);
    }
    section.Habilidades::-webkit-scrollbar {
        height: 0;
    }
    section.Sobre {
        display: block;
        padding: 0;
    }
    section.Sobre .LeftSobre {
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: 10px;
    }
    section.Sobre img {
        display: none;
    }
    section.ProjetosHome {
        display: flex;
        flex-wrap: wrap;
        padding: 2px;
    }
    section.ProjetosHome .CardProjetosHome {
        width: calc(100% / 2.1);
    }

    section.TemasProjetos {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 20px;
        padding: 30px 20px;
        width: 100%;
        box-sizing: border-box;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        margin-top: -40px;
    }

    section.TemasProjetos::-webkit-scrollbar {
        height: 0;
    }

    section.TemasProjetos .CardTemaProjetos {
        flex: 0 0 calc(50% - 20px);
        min-width: 160px;
        scroll-snap-align: center;
    }

    .FormContato {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        height: auto;
    }
    .FormContato .Left {
        border-right: none;
        padding-right: 0;
        width: 100%;
    }

    .FormContato .Left .Button {
        transform: translateY(300px);
    }

    .FormContato textarea {
        transform: translateY(-80px);
        width: 100%;
        height: 250px;
        padding: 10px;
        border-radius: 10px;
    }
    section.SessaoHabilidades {
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }
    section.SessaoHabilidades .ContainerSearch {
        border-radius: 0;
        width: 100vw;
    }
    section.SessaoHabilidades .ContainerSearch input[type="text"] {
        width: calc(100% + 100px);
    }
    section.SessaoHabilidades .HabilidadesAndProjetos {
        flex-direction: column;
    }
    section.SessaoHabilidades .HabilidadesAndProjetos .LeftDesktop {
        display: none;
    }
    section.SessaoHabilidades .HabilidadesAndProjetos .LeftMobile {
        display: grid;
        grid-template-columns: repeat(6, 60px);
        grid-template-rows: repeat(1, 60px);
        gap: 20px;
        margin-left: -38px;
        width: 100vw;
        overflow-x: auto;
        padding-bottom: 10px;
        margin-top: 40px;
    }
    section.SessaoHabilidades .HabilidadesAndProjetos .LeftMobile .CardHabilidadesProjetos {
        border-radius: 20px;
        display: grid;
        place-items: center;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
    section.SessaoHabilidades .HabilidadesAndProjetos .LeftMobile .CardHabilidadesProjetos:hover,
    section.SessaoHabilidades .HabilidadesAndProjetos .LeftMobile .CardHabilidadesProjetos.ActiveHabilidadeCard {
        background: var(--Bg-Habilidades);
        box-shadow: 0 0 10px black;
    }
    section.SessaoHabilidades #Rigth {
        width: 100vw;
        margin-left: -41px;
    }
    section.SessaoHabilidades #Rigth .IndicatorHabilidades {
        width: 90%;
    }
    section.SessaoPerfil {
        flex-direction: column;
        overflow-y: auto;
    }
    section.SessaoPerfil .Left .Card,
    section.SessaoPerfil .Right {
        width: 100vw;
    }
    section.SessaoPerfil .Left .Card {
        margin-left: -6px;
        margin-top: 70px;
    }
    section.SessaoPerfil .Right .Desktop {
        display: none;
    }
    section.SessaoPerfil .Right .Mobile {
        display: block;
    }
    section.SessaoPerfil .Left .Card .Top {
        flex-direction: column;
    }
    section.SessaoPerfil .Left .Card .Top svg {
        margin-top: -80px;
    }
    section.SessaoPerfil .Left .Card .Top .Info {
        text-align: center;
        line-height: 30px;
        font-size: 20px;
        margin-bottom: 20px;
    }
    section.SessaoPerfil .Left .Card .Top img {
        width: 70px;
        left: 137px;
        bottom: 105px;
    }
    section.SessaoPerfil .Left nav {
        width: 90vw;
        margin-left: 200px;
    }
    section.SessaoPerfil .Left nav i#ItagMobile {
        display: none;
    }
    section.SessaoServico .ContainerSearch {
        width: 100vw;
        border-radius: 0;
    }
    section.SessaoServico .ContainerSearch input:nth-child(2) {
        width: calc(100% + 200px);
    }
    section.SessaoServico .InsertServicosCard {
        width: 100vw;
        overflow-x: hidden;
    } 
    section.SessaoServico .InsertServicosCard h4 {
        margin: 20px -15px;
    }
    section.SessaoServico .InsertServicosCard section.ProjetosServicos .CardServico h4  {
        margin-left: 0;
    }
    section.SessaoPerfil iframe {
        width: 100vw;
    }
}
